h1{
    text-align:center;
}



  body{
    width: 1177px;
    height: 896.78px;
   background-color: mediumseagreen;
  }
 
 ol{
  background-color: mediumvioletred;
 }

 

div div{
    background-color: tan;
    width: 45%;
    padding: 2.5%;
    float: right;

}

img{
  width: 400px;
}



h3{
  text-decoration: underline;
}

.group div{
  float: left;
  width: 30%;

}