h1{
    text-align:center;
}


.section{
    background-color: tan;
    border: solid;
    height: 1300px;
    padding: 15px;

  }
  body{
    width: 1114px;
    height: 474.44px; 
   background-color:mediumseagreen;
  }
 
div.left{
  width: 200px;
  padding: 20px;
  height: 33.3px;
}

div.middle{
  width: 250px;
  height: 33.3px;
  margin: auto;
  
}

  div.right{
    width: 200px;
    height: 33.3px;
}

  ol{
    background-color:mediumvioletred;
    width: 250px;
    float: left;

  }

  .right{
    float: right;
 
  }

  .group div{
    float: left;
    width: 30%;
 
}




