body{
    background-color: darkolivegreen;
    color: white;
}



 table,th, td {

    border: 4px solid black;

    }

thead{
    background-color: maroon;
}

th, td {

    padding: 12px;
    
    }

table{
    background-color: wheat;
    border-spacing: 5px;
    width: 100%;
    
}

td{
    background-color: darkolivegreen;
}

div{
    background-color: maroon;
    border: 2px black;
}