h1{
    background-color: rgb(248, 203, 2);
    text-align: center;
    margin: 0px;
    
}

body{
    background-color: rgb(137, 203, 247);
    text-align: center;
}

h3{
    text-align: center;
   
}

p{

    float:left;
    width: 40%;
    padding: 10px;
}
.smile{
    margin: auto;
    text-align: center;
    width: 50%;
}

img{
    height: 100%;
    width: 70%;
}


a{
    background-color: greenyellow;
    padding: 0 55px;
   
}


nav{
    border: solid black; 
}

nav a:hover{
    background-color: orange;
}

section{
    background-color: rgb(248, 203, 2);
    height: 280px;

}

