h1{
    background-color: yellow;
    text-align: center;
    margin: 0px;
    
}

body{
    background-color:greenyellow;
    
}

h2{
    text-align: center;
   
}

p{
    text-align: center;
}
.dessert{
    
    margin: auto;

    text-align: center;

    width: 50%;

}

img{
    width: 70%;
}

