div{
    background-color: blueviolet;
    border: solid;
    margin-bottom: 25px;

  }
  body{
    width: 1366px;
    height: 768px;
    background-color:  greenyellow;
  }
  h1{ 
    background-color:  goldenrod;
    text-align: center;
    margin: 0px
  }
  h2{
    background-color: yellow;
    text-align: center;
    margin: 0px;
  }
  ol{
    background-color: blue;
    width: 50%;
    margin: auto;

  }

hr{
  width: 50%;
}
  a{
    background-color:lightcyan;
    padding-right: 250px;

  }
  a:hover{
    background-color: yellow;
  }
  #section{
    height: 600px;
    width: 700px;
    float: 0px;
    margin: auto;
  }