body{
    background-color: lightgoldenrodyellow;
    text-align: center;
}
h1{
    background-color: lightseagreen;
    text-align: center;
    margin: 0px;
    
}

a{
    background-color: plum;
    padding: 0 55px;
   
}

.content{
    
   padding: 70px;
    
}

img{
    width: 25%;
    padding: 20px;
    float: left;
}

.assembly{
    float: right;
    width: 70%;
}





