body{
    background-color: lightgoldenrodyellow;
    text-align: center;
}
h1{
    background-color: lightseagreen;
    text-align: center;
    margin: 0px;
    
}

a{
    background-color: plum;
    padding: 0 55px;
   
}

p{
    padding: 6%;
}

img{
    width: 40%;
    float: left;
    padding: 35px;
}



